#main{
	width: 95%;
	margin:auto;
	padding-top: 150px;
	margin-bottom: 150px;
	
}
#formCompilaModulo label.error{
	color: #f33;
}

form{
	width: 45%;
	margin:auto;	
}

table{
	width: 100%;
	border-collapse: collapse;
}

#info1{
	box-shadow:10px  10px 5px #dedede, -5px 0px 5px #dedede, 0px 0px 0px #dedede, -10px  10px 5px #dedede;
}
#info2, #info3, #info4, #info5{
	box-shadow:10px  10px 5px #dedede, 0px 0px 0px #dedede, 0px 0px 0px #dedede, -10px  10px 5px #dedede;
}

th{
	vertical-align: top;
	padding-top: 5px;
}

tr{
	height: 40px;
}

td{
	height: 100%;
}

.dato{
	padding-left: 1%;
}

.hr{
	background-color: #ADD8E6;
}

input[type=text], input[type=date]{
	padding: 0 2%;
	border-style: inset;
	width: 100%;
	height: 100%;
}

#info5 p{
	width: 95%;
	margin: auto;
	text-align: left;
	padding-top: 20px;
}

#conferma {
	width: 40%;
	margin: auto;
	height: 40px;

}

#conferma input[type=date]{
	width:60%;
	height: 100%;
}

#conferma input[type=submit]{
	height: 100%;
}



