@charset "ISO-8859-1";



.canvas{
	padding: 20% 10% 0 10%;
}

#tableMatriciAdmin{
	
	border:3px solid #CCCCCC;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 10px;
    text-align: center;
    padding-right: 30px;

}


#descrizione{
	width: 80%;
}

table{
	width: 80%;
}

tr{
	height: 20%;
}

td{
	width: 20%;
	height: 100%;
	vertical-align: baseline;

}
th{
	vertical-align: baseline;
}

.contenitore{
	width: 20%;
	height: 80%;
	padding: 10% 10% 90% 15%;
	
}



.bott_modifica {
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 15px;
 background-color:#2121FF;
 border-radius: 17px;
 padding: 2px 10px;
 border: 1px solid #006FE6;
 cursor: pointer;
}
.bott_modifica:hover {
 background-color: #000000;
 border-color: #0056B3;
}
.bott_modifica > strong {
 font-size: 24px;
}

.bott_rimuovi {
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 15px;
 background-color: #FF1313;
 border-radius: 17px;
 padding: 2px 10px;
 border: 1px solid #006FE6;
 cursor: pointer;
}
.bott_rimuovi:hover {
 background-color: #000000;
 border-color: #0056B3;
}
.bott_rimuovi > strong {
 font-size: 24px;
}