div#main{
	padding-top: 85px;
	padding-bottom: 100px;
}

.img_HomePage{
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size:cover;
    margin-bottom: 50px;
}

.banner{width: 80%;  display:table; margin:auto;}

.table-cell{width: 33%; height:250px; display: table-cell;}

.card{width:80%; height:100%; background:#ADD8E6; text-align: center; border-radius:10%; margin: auto;}

.card a:link{text-decoration: none; font-size: 40px; padding:8% 1%;}
.card a:visited{color:#ffffff;}
.card p{font-size: 30px;color: #ffffff}
.card a{color: #000000; display: block;}
.card a:hover{ color: #000000;} 
