html,body{height: 100%;}

body{
  background: #F0F8FF;
}

.header{ position: fixed; top: 0; background: #ADD8E6; width: 100%; height: 85px;}
.header__logo{margin:18px; ;color: #fff; float: left; font-size: 40px; text-decoration: none; }
.header__menu {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #ADD8E6; }
.header__menu__item{float: right;  border-right: 1px solid white;}
.header__menu__item a, .active{font-size: 20px; display: block;  color: white; text-align: center; padding: 31px 16px; text-decoration: none;}
.header__menu__item a:hover:not(.active){background: #c7f3ff; color: #000000;}
.active {background-color: #99CBFF;}

.footer{position: fixed; left: 0; bottom: 0;   width: 100%; background: #ADD8E6; color: #000; color:white; text-align: center;}