
#main{
	width: 95%;
	margin: 100px auto;
	
}

.contenitore form{
	display: inline-block;
}

#formAddParametro label.error{
	color: #f33;
}
	
.hidden{
	visibility: hidden;
}

.show{
	visibility:visible;
}

p{
	display: inline-block;
}

#parametri{
	width: 95%;
	display: table;
	margin: auto;
	padding-top: 50px;
}

#addPar{
	width: 30%;
	display:table-cell;	
}

#allPar{
	width: 70%;
	display:table-cell;
}

#allPar table{
	text-align:center;
	border-collapse: collapse;
	width:100%;	
	 box-shadow:10px  10px 5px #dedede, -10px -10px 5px #dedede, 10px -10px 5px #dedede, -10px  10px 5px #dedede;
}

#allPar table th{
	padding: 20px 0;
	background: #ADD8E6;
}