#main{
	width: 25%;
	margin: auto;
	margin-top:50px;
}

#top{
	width: 80%;
	margin: auto;
}

form{
	width: 100%;
	margin:auto;
}

#formRegistrazioneUser label.error{
	color: #f33;
}

label {
	display: inline-block;
	text-align: left;
	margin-bottom: 5px;
}

#dati{
	box-shadow:10px  10px 5px #dedede, 0px 0px 5px #dedede,0 0px 5px #dedede, -10px  10px 5px #dedede;
	width: 100%;
}

#dati div{
   width: 25%;
   display: block;
   margin: 20px 10px;
}

input[type=text], input[type=password], select{
	width: 70%;
	display: block;
  	padding: 5px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}

@media (max-wight:1000px){	
	#dati div{
		display:block;
		width: 40%;
	}
}

@media (max-wight:767px){	
	#dati div{
		width: 100%;
	}
}

