div#main{
	padding-top: 90px;
	padding-bottom: 90px;
}

.card {
	display:inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
  	border-radius: 4px;
	width:400px;
 	height: 250px;
 	margin:55px;
 	text-align: center;
 	background-color: #ADD8E6
}

.card:hover {
  	box-shadow: 0 10px 20px 0 #29858f;
}

.container {
 	padding: 2px 16px;
}

#scelta{padding-left: 25px;}

.nome{  display: inline-block; }

.nome_matrice {
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 color: #FFFFFF;
 text-decoration: none;
 line-height: 1.2;
 font-weight: normal;
 font-family: sans-serif;
 font-size: 18px;
 background-color: #ADD8E6;
 border-radius: 8px;
 padding: 10px 20px;
 cursor: pointer;
}
.nome_matrice:hover {
 background-color: #C7F3FF;
 color: #000000;
}
.nome_matrice > strong {
 font-size: 24px;
}

#matrici{
	border:3px solid #add8e6;
	border-radius: 3%;
	width: 20%;
}

#pacchetti{
	width: 100%;
	margin: auto;
	height: 50%;
	padding-top:5%; 
	padding-left:10%;
	padding-right:10%
}

.pacchetto {
	display:inline-block;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
  	border-radius: 4px;
	width:300px;
 	height: 150px;
 	margin:130px 85px;
 	text-align: center;
 	background-color: #ADD8E6;
 
}
.tipo{
	text-decoration: none;
	font-size: 30px
}

p{
	font-size: 20px
}

.pacchetto:hover {
  	box-shadow: 0 10px 20px 0 #29858f;
}