@charset "ISO-8859-1";

body{background: #F0F8FF;}

.header{position:fixed; top:0; left:0; background: #ADD8E6; width: 100%; height: 85px; }
.logo {float: left; }
.logo img{height: 80px;}
.logo a{color: #fff;font-size: 40px; text-decoration: none;}
.nav {background-color: #ADD8E6; }
.nav a, .active{float: right; font-size: 20px; display: block;  color: white; text-align: center; padding: 31px 16px; text-decoration: none;}
.nav a:hover:not(.active){background: #c7f3ff; color: #000000;}
.active {background-color: #99CBFF;}
.invisibile{display: none;}

	
div#main{
	margin-top: 85px;
}

.footer{position: fixed; left: 0; bottom: 0;   width: 100%; background: #ADD8E6; color: #000; color:white; text-align: center; margin-top: 150px;}

.nav a.icon {
  display: none;
}
@media screen and (max-width: 900px) {
	.nav a{display: none;}
	.nav a.icon {float: right; display: block; position: absolute; right: 0; top: 0;}
	.nav.responsive a {float: none; display: block; text-align: left;}
	.invisibile{display: block;}
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        
}

