div#main{
	width: 20%;
	margin: auto;
	margin-top:150px;
}

h1{
	text-align: center;
	font-family: sans-serif;	
}

p{
	text-align: center;
	font-family: sans-serif;	
}

form{
	width: 100%;
	margin:auto;
}

input[type=text],input[type=password]{
	width: 60%;
	margin:auto;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	display: block;
  	margin-top: 10px;
}

input[type=submit]{
	width: 30%;
	margin:auto;
	background-color: #4CAF50;
  	color: white;
  	padding: 12px 20px;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
	display: block;
	margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:hover {
  background-color: #45a049;
}

a, a:visited{
	color: black;
	padding: 5px 0;
}

a:hover{
	font-size: 101%;
}